#clientsCount {
	color: #ff5252;
}

#gridFormulario {
	display: none;
}

.helena-width-supporting-text {
	padding-left: 50px;
	padding-right: 50px;
	width: unset;
}

.helena-titulo-primary-color {
	color: #8bc34a;
	font-size: 16px;
	border-bottom-width: 1px;
    border-bottom-style: solid;
	border-bottom-color: #8bc34a;
}

.mdl-textfield {
	width: 800px;
}